.highlight,
.highlight .w {
  color: #ded7ca;
  background: transparent;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .err { color: #f2b0a2; background: #4a2621; }
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs { color: #8f897e; font-style: italic; }
.highlight .cp,
.highlight .nt,
.highlight .nn,
.highlight .nc,
.highlight .no { color: #d7a36f; }
.highlight .o,
.highlight .ow,
.highlight .p,
.highlight .pi { color: #cbc3b5; }
.highlight .gi,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss { color: #a5bd86; }
.highlight .gd { color: #dd8977; }
.highlight .gh { color: #8fb8c6; font-weight: 600; }
.highlight .ge { font-style: italic; }
.highlight .ges,
.highlight .gs { font-weight: 600; }
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv,
.highlight .sa { color: #bea6d0; }
.highlight .kc,
.highlight .kt,
.highlight .kd { color: #d7a36f; }
.highlight .sr { color: #8fc1bc; }
.highlight .si,
.highlight .se { color: #db927e; }
.highlight .na { color: #8fb8c6; }
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx { color: #a5bd86; }
