.highlight,
.highlight .w {
  color: #292721;
  background: transparent;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .err { color: #8d2e22; background: #ead0c9; }
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs { color: #7b7267; font-style: italic; }
.highlight .cp,
.highlight .nt,
.highlight .nn,
.highlight .nc,
.highlight .no { color: #7b4b25; }
.highlight .o,
.highlight .ow,
.highlight .p,
.highlight .pi { color: #403a34; }
.highlight .gi,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss { color: #4d652f; }
.highlight .gd { color: #9a392a; }
.highlight .gh { color: #275f78; font-weight: 600; }
.highlight .ge { font-style: italic; }
.highlight .ges,
.highlight .gs { font-weight: 600; }
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv,
.highlight .sa { color: #654d80; }
.highlight .kc,
.highlight .kt,
.highlight .kd { color: #91521f; }
.highlight .sr { color: #356a68; }
.highlight .si,
.highlight .se { color: #8e4c36; }
.highlight .na { color: #275f78; }
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx { color: #596a32; }
